header {
    background-color: #B671E3;
}
h1 {
    color: #6EF64D
}
h3 {
   color: #4DEAF6; 
}
body {
    background-color: #F91F98;
}
input {
    background-color: #4DEAF6;
}
button {
    background-color: #6EF64D
}
h2 {
    background-color: #1FB6F9
}